<template>
  <div class="add" :key="new Date().getTime()">
    <el-form
      ref="form"
      :model="formObj"
      style="width: 400px"
      label-width="120px"
      :rules="formObjRules"
    >
      <el-form-item label="商品名称" prop="name">
        <el-input v-model="formObj.name"></el-input>
      </el-form-item>
      <el-form-item label="商品描述" prop="subtitle">
        <el-input v-model="formObj.subtitle"></el-input>
      </el-form-item>
      <el-form-item label="商品一级分类" prop="levelOneCategoryId">
        <el-select
          v-loading="status"
          v-model="formObj.levelOneCategoryId"
          placeholder="请选择"
        >
          <el-option
            v-for="item in levelOneCategoryIds"
            :key="item.id + new Date().getTime() * Math.random()"
            :label="item.name"
            :value="item?.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        v-if="formObj.levelOneCategoryId"
        label="商品二级分类"
        prop="levelTwoCategoryId"
      >
        <el-select
          v-loading="status"
          v-model="formObj.levelTwoCategoryId"
          placeholder="请选择"
        >
          <el-option
            v-for="item in levelTwoCategoryIds"
            :key="item.id + new Date().getTime() * Math.random()"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="价格" prop="price">
        <el-input-number
          v-model="formObj.price"
          controls-position="right"
          :min="0"
        ></el-input-number>
      </el-form-item>
      <el-form-item label="库存" prop="stock">
        <el-input-number
          v-model="formObj.stock"
          controls-position="right"
          :min="0"
        ></el-input-number>
      </el-form-item>
      <el-form-item label="上架状态" prop="status">
        <el-switch
          v-model="formObj.status"
          :active-value="1"
          :inactive-value="2"
          active-color="#13ce66"
          inactive-color="#ff4949"
        >
        </el-switch>
      </el-form-item>
      <el-form-item ref="uploadItem" label="图片上传" prop="subImages">
        <el-upload
          ref="upload"
          action="/api/manage/product/upload.do"
          name="upload_file"
          list-type="picture-card"
          with-credentials
          :on-remove="handleRemove"
          :on-success="handleSuccess"
          :on-preview="handlePreview"
          :file-list="fileList"
          :auto-upload="false"
          :on-change="handleChange"
        >
          <i class="el-icon-plus"></i>
        </el-upload>
      </el-form-item>
      <el-form-item label="详情" prop="detail">
        <el-input v-model="formObj.detail"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleSave">提交</el-button>
      </el-form-item>
    </el-form>
    <el-dialog
      center
      custom-class="test"
      title="图片预览"
      fullscreen
      :visible.sync="dialogVisible"
    >
      <div style="text-align: center">
        <img :src="bigImg" alt="" />
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getCategory, handleSave } from "@/http/api";
export default{
    data(){
        return{
            formObj: {
        name: "",
        subtitle: "",
        price: "",
        stock: "",
        status: 2,
        detail: "",
        levelOneCategoryId: "",
        subImages: [],
        levelTwoCategoryId: "",
        categoryId: "",
      },
      formObjRules: {
        name: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        subtitle: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        price: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        stock: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        status: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        detail: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        levelOneCategoryId: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        subImages: [
          {
            required: true,
            message: "请输入商品名称",
            trigger: ["blur", "change"],
          },
        ],
        levelTwoCategoryId: "",
        categoryId: "",
      },
      levelOneCategoryIds: [],
      levelTwoCategoryIds: [],
      status: true,
      dialogVisible: false,
      bigImg: "",
      fileList: [],
       }
    },
    methods: {
    //图片预览
    handlePreview(file) {
      this.bigImg = file.url;
      this.dialogVisible = true;
      console.log(file);
    },
    //移除图片
    handleRemove(file, lists) {
      const {
        response: {
          data: { uri },
        },
      } = file;
      const {
        formObj: { subImages },
      } = this;
      const index = subImages.findIndex((item) => item === uri);
      this.formObj.subImages.splice(index, 1);
    },
    handleChange() {
      this.$refs.uploadItem.clearValidate();
    },
    //新增商品
    async handleSave() {
      this.$refs.upload.submit();
      this.$refs.form.validateField("subImages");
    },
    handleSuccess(res, file, lists) {
      console.log(JSON.parse(JSON.stringify(lists)));
      this.$refs.uploadItem.clearValidate();
      const status = lists.every((item) => item.status === "success");
      this.formObj.subImages.push(res.data.uri);
      if (status) {
        this.$refs.form.validate(async (valid) => {
          if (valid) {
            await handleSave({
              ...this.formObj,
              subImages: this.formObj.subImages.join(","),
              categoryId: this.formObj.levelTwoCategoryId
                ? this.formObj.levelTwoCategoryId
                : this.formObj.levelOneCategoryId,
            });
            this.$refs.form.resetFields();
            this.$router.push({
              name: "goodsList",
            });
          }
        });
      }
    },
    async getCategory(id, params = "One") {
      this.status = true;
      const res = await getCategory(id);
      this[`level${params}CategoryIds`] = res;
      this.status = false;
    },
    handleCategoryIds(res, params) {
      do {
        this.i++;
        this[`level${params}CategoryIds`].push(res[this.i]);
      } while (this.i % 20 != 0);

      if (this.i < res.length) {
        setTimeout(() => this.handleCategoryIds(res, params), 0);
      }
    },
  },
  computed: {
    routeTab() {
      return `新增商品`;
    },
    levelOneCategoryId() {
      return this.formObj.levelOneCategoryId;
    },
  },
  watch: {
    levelOneCategoryId(val) {
      if (val) {
        this.getCategory(val, "Two");
      }
    },
  },
  created() {
    this.getCategory(0);
  },
}
</script>
<style lang="scss">
.add{
    margin-top: 20px;
  }
</style>
