<template>
  <!-- 商品管理 -->
   <div class="list">
    <el-form
      class="form"
      ref="form"
      :rules="searchParamsRules"
      :model="searchParams"
      inline
    >
      <el-form-item label="关键词" prop="productName">
        <el-input v-model="searchParams.productName"></el-input>
      </el-form-item>
      <el-form-item class="right">
        <el-button type="primary" @click="searchGoodsList(1)" style="background-color:pink;">搜索</el-button>
        <el-button @click="reset">清空</el-button>
      </el-form-item>
    </el-form>
   <div class="udfn">
    <router-link to="/add"> 
   <el-button  type="primary"  icon="el-icon-plus" style="margin-left:20px;background-color:pink;">新增</el-button>
  </router-link>
    <div v-loading="loading" style="margin-left:20px">
      <el-table :data="listParams.list" stripe style="width: 100%;" :row-style="{height: '0'}"
    :cell-style="{padding: '0'}">
        <el-table-column prop="name" label="名称"> </el-table-column>
        <el-table-column prop="subtitle" label="标题"> </el-table-column>
        <el-table-column prop="price" label="价格"> </el-table-column>
        <el-table-column label="商品状态">
          <template slot-scope="{ row }">
            <template v-if="row.status === 1">
              <span style="display: inline-block;border-radius:6px;width:50px;text-align:center;background-color:green;margin-right:10px;color:white;">在售</span>
              <el-button size="mini" style="border-radius:6px;text-align:center;color:white;background-color:pink;" @click="handleStatus(row)">设置下架</el-button>
            </template>
            <template v-else>
              <span style="display: inline-block;border-radius:6px;width:50px;text-align:center;background-color:pink;margin-right:10px;color:white;">已下架</span>
              <el-button size="mini" style="border-radius:6px;color:white;background-color:green;"  @click="handleStatus(row)">设置上架</el-button>
            </template>
          </template>
        </el-table-column >
        <el-table-column label="操作">
          <template slot-scope="{row}">
            <el-button type="text" style="font-size:12px;"  circle >查看详情</el-button
            >&emsp;|<el-button type="text"  style="font-size:12px;" @click="handleEdit(row.id)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination style="display:flex; justify-content:flex-end;margin-top:20px;"
        background
        layout="prev, pager, next"
        :total="listParams.total"
        :current-page.sync="listParams.pageNum"
        :size="listParams.pageSize"
        @current-change="handleChange"
      >
      </el-pagination>
    </div>
  </div>  
  </div>
</template>
  
<script>
import { getGoodsList, searchGoodsList,handleStatus } from "@/http/api";
export default {
  data() {
    return {
      searchParams: {
        productName: "",
      },
      listParams: {
        pageNum: 1,
        pageSize: 10,
        list: [],
        total: 0,
      },
      searchParamsRules: {
        productName: [
          {
            required: true,
            message: "内容不能为空",
          },
        ],
      },
      arr: [1],
      loading: false,
      isSearched: false,
    };
  },
  methods: {
  handleEdit(id){
    this.$router.push({ name: "edit" });
  },
    // 上下架
    async handleStatus(row) {
      const { status, id: productId } = row;
      await handleStatus({ status: status == 1 ? 2 : 1, productId });
      row.status = status == 1 ? 2 : 1; 
    },
    //清空表单查询条件
    reset() {
      this.$refs.form.resetFields();
    },
    //获取商品列表
    async getGoodsList(obj) {
      this.loading = true;
      const res = await getGoodsList(obj).finally(() => {
        this.loading = false;
      });
      this.listParams = res;
    },
    //页码变化事件
    async handleChange(val) {
      console.log(val);
      this.arr.push(val);
      if (this.arr.length > 2) {
        this.arr.splice(0, 1);
      }
      try {
        const { pageSize, pageNum } = this.listParams;
        if (this.isSearched) {
          this.searchGoodsList(val);
        } else {
          await this.getGoodsList({ pageSize, pageNum: val });
        }
      } catch (error) {
        this.arr.splice(1, 1);
        this.listParams = { ...this.listParams, pageNum: this.arr[0] };
      }
    },
    //商品搜索
    async searchGoodsList(pageNum) {
      const { pageSize } = this.listParams;
      this.loading = true;
      try {
        const res = await searchGoodsList({
          ...this.searchParams,
          pageSize,
          pageNum,
        });
        this.listParams = res;
      } catch (error) {
        this.$message.err(error);
      }

      this.isSearched = true;
      this.loading = false;
    },
  // 清空输入框内容
  reset(){
    this.searchParams.productName=""
    },
  },
  mounted() {
    this.getGoodsList(this.listParams);
  },
};
</script>
<style lang="scss">
.right {
  float: right;
}
.list{
    width:100%;
    background-color:#fff;
    border:0px solid #fff;
}
.el-table{
  font-size:12px;
}
.form{
  margin-top:10px;
}
.el-button--mini, .el-button--mini.is-round{
  padding:5px 5px 5px 5px;
}
    
</style>