<template>
  <div class="order">
    <header class="header">
      <el-form inline>
        <el-form-item label="订单号" style="margin-top:8px;margin-left:8px;">
          <el-input v-model="orderNum"></el-input>
        </el-form-item>
        <el-form-item style="float: right">
          <el-button icon="el-icon-search" type="primary" @click="search" style="margin-top:8px;margin-left:8px;"
            >搜索</el-button
          >
          <el-button icon="el-icon-remove-outline">清空</el-button>
        </el-form-item>
      </el-form>
    </header>
    <main class="main" v-loading="loading">
      <el-table :data="orderObj.list" style="width: 100%"
      :row-style="{height: '0'}"
    :cell-style="{padding: '0'}"
      >
        <el-table-column prop="orderNo" label="订单号"> </el-table-column>
        <el-table-column prop="receiverName" label="收件人"> </el-table-column>
        <el-table-column prop="statusDesc" label="订单状态"> </el-table-column>
        <el-table-column prop="payment" label="订单总价"> </el-table-column>
        <el-table-column prop="createTime" label="创建时间"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="{ row }">
            <el-button type="text" @click="handleDetail(row)"
              >查看详情</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-wrap" v-if="orderObj.total > 1">
        <el-pagination
          class="pagination"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="orderObj.pageNum"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="orderObj.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="orderObj.total"
        >
        </el-pagination>
      </div>
    </main>
    <el-drawer
      v-if="orderDetail"
      title="订单详情"
      custom-class="self-drawer"
      size="80%"
      :visible.sync="show"
      direction="rtl"
    >
      <el-descriptions title="订单基本信息">
        <el-descriptions-item label="订单号">{{
          orderDetail.orderNo
        }}</el-descriptions-item>
        <el-descriptions-item label="创建时间">{{
          orderDetail.createTime
        }}</el-descriptions-item>
        <el-descriptions-item label="支付状态">
          <el-tag type="warning">{{ orderDetail.statusDesc }}</el-tag>
        </el-descriptions-item>
        <el-descriptions-item label="支付方式">{{
          orderDetail.paymentTypeDesc
        }}</el-descriptions-item>
        <el-descriptions-item label="订单金额">{{
          orderDetail.payment
        }}</el-descriptions-item>
      </el-descriptions>
      <el-descriptions title="收件人信息">
        <el-descriptions-item label="收件人">{{
          orderDetail.shippingVo?.receiverName
        }}</el-descriptions-item>
        <el-descriptions-item label="联系电话">{{
          orderDetail.shippingVo?.receiverPhone
        }}</el-descriptions-item>
        <el-descriptions-item label="收货地址">{{
          orderDetail.shippingVo?.receiverProvince +
          orderDetail.shippingVo?.receiverCity +
          orderDetail.shippingVo?.receiverDistrict +
          orderDetail.shippingVo?.receiverAddress
        }}</el-descriptions-item>
        <el-descriptions-item label="邮政编码">
          {{ orderDetail.shippingVo?.receiverZip }}
        </el-descriptions-item>
      </el-descriptions>
      <el-table :data="orderDetail.orderItemVoList" style="width: 100%">
        <el-table-column label="图片" width="180">
          <template slot-scope="{ row }">
            <img
              style="width: 100px; height: 100px"
              :src="orderDetail.imageHost + row.productImage"
            />
          </template>
        </el-table-column>
        <el-table-column prop="productName" label="名称" width="180">
        </el-table-column>
        <el-table-column prop="currentUnitPrice" label="单价">
        </el-table-column>
        <el-table-column prop="quantity" label="数量"> </el-table-column>
        <el-table-column prop="totalPrice" label="总价"> </el-table-column>
      </el-table>
    </el-drawer>
  </div>
</template>

<script>
import { getOrderList, searchOrderList } from "@/http/api";
import _ from "lodash";
export default {
  data() {
    return {
      loading: false,
      show: false,
      orderObj: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
        list: [],
      },
      orderDetail: null,
      orderNum: "",
    };
  },
  computed: {
    sizeAndPage() {
      return [this.orderObj.pageSize, this.orderObj.pageNum];
    },
    routeTab() {
      return this.$route.meta.title;
    },
  },
  watch: {
    sizeAndPage: {
      deep: true,
      immediate: true,
      handler(cur, old) {
        console.log(cur, old);
        //判断两次 sizeAndPage 值是否相等，如果不相等在发送请求
        if (!_.isEqual(cur, old)) {
          if (this.orderNum) return;
          this.getOrderList({
            pageSize: this.orderObj.pageSize,
            pageNum: this.orderObj.pageNum,
          });
        }
      },
    },
  },
  methods: {
    async getOrderList(params) {
      try {
        this.loading = true;
        const res = await getOrderList(params);
        this.orderObj = res;
        this.loading = false;
      } catch (error) {
        this.loading = false;
      }
    },
    handleDetail(row) {
      this.show = true;
      this.orderDetail = row;
    },
    handleSizeChange(val) {
      this.orderObj.pageSize = val;
      this.orderDetail = null;
    },
    handleCurrentChange(val) {
      this.orderObj.pageNum = val;
      this.orderDetail = null;
    },
    async searchOrderList(orderNo) {
      const res = await searchOrderList(orderNo);
      this.orderObj = res;
    },
    //搜索
    search() {
      if (!this.orderNum.trim()) {
        this.getOrderList();
      } else {
        this.searchOrderList(this.orderNum);
      }
    },
  },
};
</script>
<style lang="scss">
.order {
  background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
  }
  .main {
    background-color: #fff;
    
    .pagination-wrap {
      padding: 15px;
      text-align: right;
    }
  }
  ::v-deep .self-drawer {
    .el-drawer__body {
      padding: 0 22px;
    }
  }
// }
</style>