<template>
  <!-- 侧边栏导航 -->
  <div>
    <template v-for="item in menus">
      <template v-if="item.children">
        <el-submenu :key="item.index" :index="item.index">
          <template slot="title">   <i class="el-icon-star-off"></i> {{ item.title }} </template>
          <MyOne :menus="item.children"></MyOne>
        </el-submenu>
      </template>
      <el-menu-item :key="item.index" v-else :index="item.path">
        <i class="el-icon-star-on"></i>
        <span slot="title">{{ item.title }}</span>
      </el-menu-item>
    </template>
  </div>
  </template>
  <script>
  export default{
    name: "MyOne",
    props: {
      menus:{
        default:'',
        type:Array,
      }
    },
  }
  </script>
  <style lang="scss">

  </style>
  