<template>
 <fullscreen v-model="fullscreen" >
  <div class="home">
    <el-container>
      <el-aside 
      class="aside"
      :style="{
          width: !isCollapse ? '200px' : '50px',
        }"
      >
       <!-- 侧边栏导航 -->
        <el-row class="tac">
          <el-menu router default-active="1-4-1" class="el-menu-vertical-demo" background-color="pink"
          :collapse="isCollapse" text-color="#fff" active-text-color="#ffd04b">
            <div style="height:30px;">
             <h1 :style="{
              width: !isCollapse ? '200px':'50px',
            }"  style="color: aliceblue; display: flex; align-items: center;justify-content: center;"><img src="../../assets/a.png" style="width: 30px;height:30px;border-radius:50%;" :class="{ actived: isCollapse ? true : false }"></h1>
            </div>
          <!-- 侧边栏子组件   -->
            <MyOne :menus="menus"/>
          </el-menu>
        </el-row>
      </el-aside>
      <el-container
      class="main"
        :style="{ 'padding-left': !isCollapse ? '0px' : '0px' }"
      >
        <el-header>
         <div  style="display:flex;justify-content:flex-start ;align-items:center;"> 
          <!-- 折叠功能 -->
          <div @click="isCollapse = !isCollapse">
            <i v-show="isCollapse" class="el-icon-s-fold" ></i>
            <i v-show="!isCollapse" class="el-icon-s-unfold"></i>
          </div>
           <!-- 首页跳转路由   -->
          <div class="breadcrumb" style="margin-left:10px;" >
                <el-breadcrumb separator-class="el-icon-arrow-right">
                  <template v-for="item in shuju">
                    <el-breadcrumb-item v-if="item.meta.title" :key="item.path" v-bind="{
                  [item.name === $route.name ? 'abc' : 'to']: item.name,
                }">{{ item.meta.title }}</el-breadcrumb-item>
              </template>
                </el-breadcrumb>
          </div>
        </div>
          <div>
            <!-- 全屏or退出全屏 -->
             <span @click="toggleApi " style="margin-right:10px;">
              <i v-if="fullscreen" class="el-icon-full-screen"></i>
              <i  v-else class="el-icon-crop"></i>
             </span>
           <!-- 退出到登陆页面  -->
          <img class="image" src="../../assets/a.png">
          <el-dropdown>
            <div @click.prevent="logout" style="color:aliceblue;">admin <i class="el-icon-caret-bottom"></i></div>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div> 
        </el-header>
        <el-main>
          <!-- 漏油 -->
          <router-tab class="tabs" restore>
            <template #start>
              <router-link
                class="el-icon-s-home center"
                to="/"
                tag="i"
              ></router-link>
            </template>
          </router-tab>
          <!-- 首页子组件 -->
          <!-- <router-view></router-view> -->
        </el-main>
      </el-container>
    </el-container>
  </div>
</fullscreen> 
</template>
<script>
import MyOne from './components/MyOne.vue'
import Nick from './Nick.vue';
export default {
  components: {
    MyOne,
    Nick
  },
  data() {
    return {
      // 全屏or退出全屏
      fullscreen: false,
       // 侧边栏收缩
      isCollapse: false,
      username: localStorage.getItem("username") || "",
      menus: [
        {
          title: "仪表盘",
          index: "1",
          children: [
            {
              title: "首页",
              index: "1-1",
              path: "/Nick",
            },
          ],
        },
        {
          title: "商品",
          index: "2",
          children: [
            {
              title: "商品管理",
              index: "2-1",
              path: "/list",
            },
          ],
        },
        {
          title: "品类",
          index: "3",
          children: [
            {
              title: "品种分类",
              index: "3-1",
              path: "/category",
            },
          ],
        },
        {
          title: "订单",
          index: "4",
          children: [
            {
              title: "订单详情",
              index: "4-1",
              path: "/orders",
            },
          ],
        },
        {
          title: "用户",
          index: "5",
          children: [
            {
              title: "个人中心",
              index: "5-1",
              path: "/User",
            },
          ],
        },
      ],
    }
  },
  // 监听绑定侧边栏路由跳转
  watch:{
    $route:{
      immediate:true,
      handler(val){
        // console.log(val.matched)
        this.shuju = val.matched
      }
    }
  },
  methods: {
    
    // 全屏or退出全屏
    toggleApi () {
      this.$fullscreen.toggle()
    },
    //退出功能
    logout() {
      //弹出确认对话框
      //用户点击确认，跳回用户登录页面，清除token
      this.$confirm('确定要退出登录吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$message({
          type: 'success',
          message: '退出成功!'
        });
        //确认退出，清除token
        localStorage.removeItem('token')
        //跳转登录页面(编程式导航)
        this.$router.push('/')

      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消退出'
        });
      });

    }
  },

}
</script>
<style lang="scss">
.el-container{
  height: 100vh;
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  //图片和文字水平居中
  vertical-align: middle;
  margin-right: 8px;
}
.el-header{
 
  background-color:pink;
  justify-content: space-between;
  color: #333;
  display: flex;
  align-items: center;
}
.el-aside {
  background-color:pink;
  color: #333;
  text-align: left;
  // height: 100vh;
  .el-menu{
    border-right:0px;
  }
}
.el-main{
  overflow-y: scroll;
  background-color: #f0f2f5;
}
// body>.el-container {
//   margin-bottom: 40px;
// }
.router-tab__item{
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  background-color: pink;
  border: 1px solid pink;
  color: #f0f2f5;
  border-radius: 3px;
}
.router-tab__header{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
  width: 100%;
 background-color:#fff;
}
.nick{
  margin-top: 30px;
}
.router-tab__nav{
  margin-left:-30px;
}
.router-tab__slot-start{
  padding-left: 20px;
}
</style>
