<template>
    <!-- 首页 -->
    <div class="nick">
  <div class="cards" v-if="indexData">
    <el-card class="box-card">
        <div slot="header" class="zs">
            <span>订单总数</span>
        </div>
        <h2>{{indexData.orderCount}}</h2>
    </el-card>
    <el-card class="box-card">
        <div slot="header" class="zs">
            <span>商品总数</span>
        </div>
        <h2>{{indexData.productCount}}</h2>
</el-card>
<el-card class="box-card">
    <div slot="header" class="zs">
            <span>用户总数</span>
        </div>
        <h2>{{indexData.userCount}}</h2>
</el-card>
  </div>
  
</div>
</template>
<script>

import { getIndex} from "@/http/api"
  export default{
    name:"Nick",
   data(){
    return{
        indexData:null,
       
    };
   },
   mounted(){

   },
 async beforeRouteEnter(to,from,next){
    const res=await getIndex();
     next((vm) => {
        vm.indexData=res.data;
       
     })
    },
    
  }
</script>
<style lang="scss">
.nick{
    width:100%;
    height:300px;
    background-color:#fff;
    border:2px solid #fff;
}
.box-card{
    margin:20px 20px;
}
.cards{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 30px;
}
.box-card{
    flex: 1;
}
</style>