<template>
  <!-- 登录 -->
  <div class="loginbody">
    <div class="logindata">
      <div class="logintext">
        <h2>Welcome Login</h2>
      </div>
      <div class="formdata">
        <el-form ref="form" :model="form" :rules="rules">
          <el-form-item prop="username">
            <el-input
              onfocus="this.removeAttribute('readonly')"
              v-model="form.username"
              autocomplete="off"
              clearable
              placeholder="请输入用户名"
            >
              <template slot="prepend"
                ><i class="el-icon-user-solid"></i
              ></template>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
            onfocus="this.removeAttribute('readonly')"
              v-model="form.password"
              clearable
              show-password
              data-placeholder="请输入密码"
              name="password"
              data-required="true"
              type="password"
              autocomplete="new-password"
              data-max-length="50"
              spellcheck="false"
              id="auto-id-1505904797992"
            >
              <template slot="prepend"><i class="el-icon-unlock"></i></template>
            </el-input>
          </el-form-item>
        </el-form>
      </div>
     
      <div class="butt">
        <el-button
        :loading="loginStatus"
          type="primary"
          @click="handleLogin(form)"
          style="width: 100%;"
          >登录</el-button
        >
      </div>
    </div>
  </div>
</template>
<script>
import "qs"
import {login } from "@/http/api";
export default {
  name: "login",
  data() {
    const validateUsername = (rules, value, callback) => {
      let regex = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!regex.test(value)) {
        callback(new Error("用户名需要4-16位"));
        return
      }
      callback();
    };
    return {
      form: {
        password: "admin",
        username: "admin",
      },
      checked: false,
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          {
            validator: validateUsername,
            trigger:blur
          },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" }],
      },
       loginStatus:false
    };
  },
  mounted() {
  
  },
  methods: {
    // 登录
    handleLogin(formName) {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          const res = await login.call(this, this.form, "loginStatus");
          console.log(res);
          this.$message.success(res.msg);
          if (this.$route.query.redirect) {
            this.$router.push({
              path: this.$route.query.redirect,
            });
            return;
          }
          this.$router.push({ name: "Home" });
        }
      });
    },
    remenber(data) {
      this.checked = data;
      if (this.checked) {
        localStorage.setItem("news", JSON.stringify());
      } else {
        localStorage.removeItem("news");
      }
    },
    forgetpas() {
      this.$message({
        type: "info",
        showClose: true,
      });
    },
    register() {},
  },
};
</script>

<style lang="scss">
.loginbody {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background-image: url("../../assets/a.jfif");
  background-size: 100% 100%;
  background-position: center center;
  overflow: auto;
  background-repeat: no-repeat;
  position: fixed;
  line-height: 100%;
  padding-top: 150px;
  display: flex;
  flex: 1;
}

.logintext {
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.logindata {
  width: 400px;
  height: 300px;
  transform: translate(-50%);
  margin-left: 50%;
}
.butt {
  margin-top: 10px;
  text-align: center;
}
.shou {
  cursor: pointer;
  color: #606266;
}
</style>
